src/main/app/var-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="var-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vars" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="var-flowSub_Flow" doc:name="var-flowSub_Flow"/>
        <async doc:name="Async">
            <set-variable variableName="value" value="4" doc:name="4"/>
        </async>
        <set-payload value="#[flowVars.value]" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="var-flowSub_Flow">
        <set-variable variableName="value" value="2" doc:name="2"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vmFlow" doc:name="vmFlow"/>
    </sub-flow>
    <flow name="vmFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vmFlow" doc:name="vmFlow"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-variable variableName="value" value="3" doc:name="3"/>
    </flow>
</mule>
